<% if (status === true) { %>
    <form method="POST">
        playlist id:
        <input type="text" name="playlist" />
        <textarea name="videos" rows="10" cols="100"></textarea>
        <button type="submit">Submit</button>
    </form>
<% } %>